*{
    font-family: cursive;
    text-decoration: none;
    color:black
}
.logo{
    margin-right: auto;
}
h1{
    margin: 0.5rem;
    text-align: center;
    font-size: 3em;;
}
a h3{
    color: #085394;
    text-decoration: underline;
}
h4{
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
h5{
    font-size: 2em;
    color: white;
}
body{
    margin: 0;
}
.banner{
    text-align:center;
}
.banner img{
    width: 710px;
    margin: 1em;
}
@media only screen and (max-width: 800px){
    .banner img{
        width: 90%;
    }
}


header{
    background-color: #a0c4f8;
    border-top: black solid 0.2rem;
    border-bottom: black solid 0.2rem;
    margin-bottom: 1em;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1em;
}
nav a{
    padding-left: 0.5em;
    padding-right: 0.5em;
}


#heading{
    margin-left: auto;
    margin-right: auto;
}
#headingWrapper{
    display:flex;
    justify-content: flex-end;
    padding-left: 1em;
    padding-right: 1em;
}
#cartWrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
}
#headingSpacer{
    width: 20%;
}
#cart{
    width: 2em;
    height: 2em;
    margin-left: 0.5em;
    cursor:pointer;
}
#cartCounter{
    font-size: 1.2em;
}


#products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
}
.product{
    margin: 1em;
    width: 25em;
    text-align: left;
}
.product p{
    margin: 0;
    /* Das auskommentierte würde machen, dass die Zutaten so abgeschnitten sind wie im Mockup
    text-overflow: clip;
    overflow:hidden;
    white-space: nowrap;*/
}
.product div{
    display: flex;
    align-items: center;
}
.price, .cartImage{
    margin-left: 0.5em;
}
.productName, .productOptions{
    margin-right: auto;
}
.cartImage{
    height: 1.5em;
    width: 1.5em;
    cursor:pointer;
}
.productImage{
    height: 15em;
    width: 100%;
}
.linkContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2em;
}
.imageLink{
    width: 20rem;
    height: 12rem;
    background-size: cover;
    color: white;
    font-size: 1em;
    text-align: center;
    margin: 1em;
}
.imageLink h5{
    line-height: 12rem;
    margin:0;
    position: relative;
    text-align: center;
    width: 100%;
}
#pizzaLink{
    background-image: url("/images/pizza.png");
}
#saladLink{
    background-image: url("/images/salat.png");
}
#drinkLink{
    background-image: url("/images/soft.png");
}


.feedbackQuestion{
    display: flex;
    margin: 1em 0em;
}
.feedbackQuestion p{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1em;
    width: 45%;
    text-align: right;
}
.feedbackQuestion div{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.feedbackQuestion div p{
    text-align: left;
    width: fit-content;
    margin-right: 0;
}
[type="text"], [type="email"]{
    width: 100%;
    height: 1.5em;
    border: solid black 0.2rem;
    margin-bottom: 0.5em;
}
textarea{
    width: 100%;
    height: 10em;
    border: solid black 0.2rem;
}
#submit{
    justify-content: flex-end;
}
[type="submit"]{
    background-color: white;
    border: solid black 0.2rem;
    box-shadow: 0.2rem 0.2rem;
    cursor: pointer;
}


#backLink{
    text-align: center;
}


footer{
    display: flex;
    justify-content: space-between;
    background-color: #a0c4f8;
    border-top: black solid 0.2rem;
    border-bottom: black solid 0.2rem;
    margin-top: 2em;
    width: 100%;
}
footer div{
    max-width: 30%;
    margin: 1em;
    text-align: left;
}